/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.mad-bar .mad-button {
    padding: 16px;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

    a:active, a:hover {
        outline-width: 0
    }

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select, textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

    button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
        border-style: none;
        padding: 0
    }

    button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
        outline: 1px dotted ButtonText
    }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

    [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
/* End extract */
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.mad-serif {
    font-family: serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.mad-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.mad-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.mad-table, .mad-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.mad-table-all {
    border: 1px solid #ccc
}

    .mad-bordered tr, .mad-table-all tr {
        border-bottom: 1px solid #ddd
    }

.mad-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.mad-table-all tr:nth-child(odd) {
    background-color: #fff
}

.mad-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.mad-hoverable tbody tr:hover, .mad-ul.mad-hoverable li:hover {
    background-color: #ccc
}

.mad-centered tr th, .mad-centered tr td {
    text-align: center
}

.mad-table td, .mad-table th, .mad-table-all td, .mad-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

    .mad-table th:first-child, .mad-table td:first-child, .mad-table-all th:first-child, .mad-table-all td:first-child {
        padding-left: 16px
    }

.mad-btn, .mad-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

    .mad-btn:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
    }

.mad-btn, .mad-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .mad-disabled, .mad-btn:disabled, .mad-button:disabled {
        cursor: not-allowed;
        opacity: 0.3
    }

        .mad-disabled *, :disabled * {
            pointer-events: none
        }

        .mad-btn.mad-disabled:hover, .mad-btn:disabled:hover {
            box-shadow: none
        }

.mad-badge, .mad-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.mad-badge {
    border-radius: 50%
}

.mad-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

    .mad-ul li {
        padding: 8px 16px;
        border-bottom: 1px solid #ddd
    }

        .mad-ul li:last-child {
            border-bottom: none
        }

.mad-tooltip, .mad-display-container {
    position: relative
}

    .mad-tooltip .mad-text {
        display: none
    }

    .mad-tooltip:hover .mad-text {
        display: inline-block
    }

.mad-ripple:active {
    opacity: 0.5
}

.mad-ripple {
    transition: opacity 0s
}

.mad-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.mad-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.mad-dropdown-click, .mad-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

    .mad-dropdown-hover:hover .mad-dropdown-content {
        display: block
    }

    .mad-dropdown-hover:first-child, .mad-dropdown-click:hover {
        background-color: #ccc;
        color: #000
    }

        .mad-dropdown-hover:hover > .mad-button:first-child, .mad-dropdown-click:hover > .mad-button:first-child {
            background-color: #ccc;
            color: #000
        }

.mad-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.mad-check, .mad-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.mad-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.mad-bar-block .mad-dropdown-hover, .mad-bar-block .mad-dropdown-click {
    width: 100%
}

    .mad-bar-block .mad-dropdown-hover .mad-dropdown-content, .mad-bar-block .mad-dropdown-click .mad-dropdown-content {
        min-width: 100%
    }

    .mad-bar-block .mad-dropdown-hover .mad-button, .mad-bar-block .mad-dropdown-click .mad-button {
        width: 100%;
        text-align: left;
        padding: 8px 16px
    }

.mad-main, #main {
    transition: margin-left .4s
}

.mad-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

.mad-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.mad-bar {
    width: 100%;
    overflow: hidden
}

.mad-center .mad-bar {
    display: inline-block;
    width: auto
}

.mad-bar .mad-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.mad-bar .mad-dropdown-hover, .mad-bar .mad-dropdown-click {
    position: static;
    float: left
}

.mad-bar .mad-button {
    white-space: normal
}

.mad-bar-block .mad-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.mad-bar-block.mad-center .mad-bar-item {
    text-align: center
}

.mad-block {
    display: block;
    width: 100%
}

.mad-responsive {
    display: block;
    overflow-x: auto
}

.mad-container:after, .mad-container:before, .mad-panel:after, .mad-panel:before, .mad-row:after, .mad-row:before, .mad-row-padding:after, .mad-row-padding:before,
.mad-cell-row:before, .mad-cell-row:after, .mad-clear:after, .mad-clear:before, .mad-bar:before, .mad-bar:after {
    content: "";
    display: table;
    clear: both
}

.mad-col, .mad-half, .mad-third, .mad-twothird, .mad-threequarter, .mad-quarter {
    float: left;
    width: 100%
}

    .mad-col.s1 {
        width: 8.33333%
    }

    .mad-col.s2 {
        width: 16.66666%
    }

    .mad-col.s3 {
        width: 24.99999%
    }

    .mad-col.s4 {
        width: 33.33333%
    }

    .mad-col.s5 {
        width: 41.66666%
    }

    .mad-col.s6 {
        width: 49.99999%
    }

    .mad-col.s7 {
        width: 58.33333%
    }

    .mad-col.s8 {
        width: 66.66666%
    }

    .mad-col.s9 {
        width: 74.99999%
    }

    .mad-col.s10 {
        width: 83.33333%
    }

    .mad-col.s11 {
        width: 91.66666%
    }

    .mad-col.s12 {
        width: 99.99999%
    }

@media (min-width:601px) {
    .mad-col.m1 {
        width: 8.33333%
    }

    .mad-col.m2 {
        width: 16.66666%
    }

    .mad-col.m3, .mad-quarter {
        width: 24.99999%
    }

    .mad-col.m4, .mad-third {
        width: 33.33333%
    }

    .mad-col.m5 {
        width: 41.66666%
    }

    .mad-col.m6, .mad-half {
        width: 49.99999%
    }

    .mad-col.m7 {
        width: 58.33333%
    }

    .mad-col.m8, .mad-twothird {
        width: 66.66666%
    }

    .mad-col.m9, .mad-threequarter {
        width: 74.99999%
    }

    .mad-col.m10 {
        width: 83.33333%
    }

    .mad-col.m11 {
        width: 91.66666%
    }

    .mad-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .mad-col.l1 {
        width: 8.33333%
    }

    .mad-col.l2 {
        width: 16.66666%
    }

    .mad-col.l3 {
        width: 24.99999%
    }

    .mad-col.l4 {
        width: 33.33333%
    }

    .mad-col.l5 {
        width: 41.66666%
    }

    .mad-col.l6 {
        width: 49.99999%
    }

    .mad-col.l7 {
        width: 58.33333%
    }

    .mad-col.l8 {
        width: 66.66666%
    }

    .mad-col.l9 {
        width: 74.99999%
    }

    .mad-col.l10 {
        width: 83.33333%
    }

    .mad-col.l11 {
        width: 91.66666%
    }

    .mad-col.l12 {
        width: 99.99999%
    }
}

.mad-content {
    max-width: 980px;
    margin: auto
}

.mad-rest {
    overflow: hidden
}

.mad-cell-row {
    display: table;
    width: 100%
}

.mad-cell {
    display: table-cell
}

.mad-cell-top {
    vertical-align: top
}

.mad-cell-middle {
    vertical-align: middle
}

.mad-cell-bottom {
    vertical-align: bottom
}

.mad-hide {
    display: none !important
}

.mad-show-block, .mad-show {
    display: block !important
}

.mad-show-inline-block {
    display: inline-block !important
}

@media (max-width:600px) {
    .mad-modal-content {
        margin: 0 10px;
        width: auto !important
    }

    .mad-modal {
        padding-top: 30px
    }

    .mad-dropdown-hover.mad-mobile .mad-dropdown-content, .mad-dropdown-click.mad-mobile .mad-dropdown-content {
        position: relative
    }

    .mad-hide-small {
        display: none !important
    }

    .mad-mobile {
        display: block;
        width: 100% !important
    }

    .mad-bar-item.mad-mobile, .mad-dropdown-hover.mad-mobile, .mad-dropdown-click.mad-mobile {
        text-align: center
    }

        .mad-dropdown-hover.mad-mobile, .mad-dropdown-hover.mad-mobile .mad-btn, .mad-dropdown-hover.mad-mobile .mad-button, .mad-dropdown-click.mad-mobile, .mad-dropdown-click.mad-mobile .mad-btn, .mad-dropdown-click.mad-mobile .mad-button {
            width: 100%
        }
}

@media (max-width:768px) {
    .mad-modal-content {
        width: 500px
    }

    .mad-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .mad-modal-content {
        width: 900px
    }

    .mad-hide-large {
        display: none !important
    }

    .mad-sidebar.mad-collapse {
        display: block !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .mad-hide-medium {
        display: none !important
    }
}

@media (max-width:992px) {
    .mad-sidebar.mad-collapse {
        display: none
    }

    .mad-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }
}

.mad-top, .mad-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.mad-top {
    top: 0
}

.mad-bottom {
    bottom: 0
}

.mad-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2
}

.mad-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.mad-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.mad-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.mad-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.mad-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}

.mad-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%)
}

.mad-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%)
}

.mad-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.mad-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.mad-display-container:hover .mad-display-hover {
    display: block
}

.mad-display-container:hover span.mad-display-hover {
    display: inline-block
}

.mad-display-hover {
    display: none
}

.mad-display-position {
    position: absolute
}

.mad-circle {
    border-radius: 50%
}

.mad-round-small {
    border-radius: 2px
}

.mad-round, .mad-round-medium {
    border-radius: 4px
}

.mad-round-large {
    border-radius: 8px
}

.mad-round-xlarge {
    border-radius: 16px
}

.mad-round-xxlarge {
    border-radius: 32px
}

.mad-row-padding, .mad-row-padding > .mad-half, .mad-row-padding > .mad-third, .mad-row-padding > .mad-twothird, .mad-row-padding > .mad-threequarter, .mad-row-padding > .mad-quarter, .mad-row-padding > .mad-col {
    padding: 0 8px
}

.mad-container, .mad-panel {
    padding: 0.01em 16px
}

.mad-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.mad-code, .mad-codespan {
    font-family: Consolas,"courier new";
    font-size: 16px
}

.mad-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.mad-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.mad-card, .mad-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.mad-card-4, .mad-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.mad-spin {
    animation: w3-spin 2s infinite linear
}

@keyframes w3-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.mad-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.mad-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.mad-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.mad-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.mad-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.mad-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.mad-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.mad-animate-input {
    transition: width 0.4s ease-in-out
}

    .mad-animate-input:focus {
        width: 100% !important
    }

.mad-opacity, .mad-hover-opacity:hover {
    opacity: 0.60
}

.mad-opacity-off, .mad-hover-opacity-off:hover {
    opacity: 1
}

.mad-opacity-max {
    opacity: 0.25
}

.mad-opacity-min {
    opacity: 0.75
}

.mad-greyscale-max, .mad-grayscale-max, .mad-hover-greyscale:hover, .mad-hover-grayscale:hover {
    filter: grayscale(100%)
}

.mad-greyscale, .mad-grayscale {
    filter: grayscale(75%)
}

.mad-greyscale-min, .mad-grayscale-min {
    filter: grayscale(50%)
}

.mad-sepia {
    filter: sepia(75%)
}

.mad-sepia-max, .mad-hover-sepia:hover {
    filter: sepia(100%)
}

.mad-sepia-min {
    filter: sepia(50%)
}

.mad-tiny {
    font-size: 10px !important
}

.mad-small {
    font-size: 12px !important
}

.mad-medium {
    font-size: 15px !important
}

.mad-large {
    font-size: 18px !important
}

.mad-xlarge {
    font-size: 24px !important
}

.mad-xxlarge {
    font-size: 36px !important
}

.mad-xxxlarge {
    font-size: 48px !important
}

.mad-jumbo {
    font-size: 64px !important
}

.mad-left-align {
    text-align: left !important
}

.mad-right-align {
    text-align: right !important
}

.mad-justify {
    text-align: justify !important
}

.mad-center {
    text-align: center !important
}

.mad-border-0 {
    border: 0 !important
}

.mad-border {
    border: 1px solid #ccc !important
}

.mad-border-top {
    border-top: 1px solid #ccc !important
}

.mad-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.mad-border-left {
    border-left: 1px solid #ccc !important
}

.mad-border-right {
    border-right: 1px solid #ccc !important
}

.mad-topbar {
    border-top: 6px solid #ccc !important
}

.mad-bottombar {
    border-bottom: 6px solid #ccc !important
}

.mad-leftbar {
    border-left: 6px solid #ccc !important
}

.mad-rightbar {
    border-right: 6px solid #ccc !important
}

.mad-section, .mad-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.mad-margin {
    margin: 16px !important
}

.mad-margin-top {
    margin-top: 16px !important
}

.mad-margin-bottom {
    margin-bottom: 16px !important
}

.mad-margin-left {
    margin-left: 16px !important
}

.mad-margin-right {
    margin-right: 16px !important
}

.mad-padding-small {
    padding: 4px 8px !important
}

.mad-padding {
    padding: 8px 16px !important
}

.mad-padding-large {
    padding: 12px 24px !important
}

.mad-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.mad-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.mad-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.mad-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.mad-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.mad-left {
    float: left !important
}

.mad-right {
    float: right !important
}

.mad-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.mad-transparent, .mad-hover-none:hover {
    background-color: transparent !important
}

.mad-hover-none:hover {
    box-shadow: none !important
}
/* Colors */
.mad-amber, .mad-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important
}

.mad-aqua, .mad-hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important
}

.mad-blue, .mad-hover-blue:hover {
    color: #fff !important;
    background-color: #2196F3 !important
}

.mad-light-blue, .mad-hover-light-blue:hover {
    color: #000 !important;
    background-color: #87CEEB !important
}

.mad-brown, .mad-hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important
}

.mad-cyan, .mad-hover-cyan:hover {
    color: #000 !important;
    background-color: #00bcd4 !important
}

.mad-blue-grey, .mad-hover-blue-grey:hover, .mad-blue-gray, .mad-hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important
}

.mad-green, .mad-hover-green:hover {
    color: #fff !important;
    background-color: #4CAF50 !important
}

.mad-light-green, .mad-hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important
}

.mad-indigo, .mad-hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important
}

.mad-khaki, .mad-hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important
}

.mad-lime, .mad-hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important
}

.mad-orange, .mad-hover-orange:hover {
    color: #000 !important;
    background-color: #ff9800 !important
}

.mad-deep-orange, .mad-hover-deep-orange:hover {
    color: #fff !important;
    background-color: #ff5722 !important
}

.mad-pink, .mad-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important
}

.mad-purple, .mad-hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important
}

.mad-deep-purple, .mad-hover-deep-purple:hover {
    color: #fff !important;
    background-color: #673ab7 !important
}

.mad-red, .mad-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.mad-sand, .mad-hover-sand:hover {
    color: #000 !important;
    background-color: #fdf5e6 !important
}

.mad-teal, .mad-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important
}

.mad-yellow, .mad-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important
}

.mad-white, .mad-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.mad-black, .mad-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important
}

.mad-grey, .mad-hover-grey:hover, .mad-gray, .mad-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important
}

.mad-light-grey, .mad-hover-light-grey:hover, .mad-light-gray, .mad-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.mad-dark-grey, .mad-hover-dark-grey:hover, .mad-dark-gray, .mad-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important
}

.mad-pale-red, .mad-hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important
}

.mad-pale-green, .mad-hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important
}

.mad-pale-yellow, .mad-hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important
}

.mad-pale-blue, .mad-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important
}

.mad-text-amber, .mad-hover-text-amber:hover {
    color: #ffc107 !important
}

.mad-text-aqua, .mad-hover-text-aqua:hover {
    color: #00ffff !important
}

.mad-text-blue, .mad-hover-text-blue:hover {
    color: #2196F3 !important
}

.mad-text-light-blue, .mad-hover-text-light-blue:hover {
    color: #87CEEB !important
}

.mad-text-brown, .mad-hover-text-brown:hover {
    color: #795548 !important
}

.mad-text-cyan, .mad-hover-text-cyan:hover {
    color: #00bcd4 !important
}

.mad-text-blue-grey, .mad-hover-text-blue-grey:hover, .mad-text-blue-gray, .mad-hover-text-blue-gray:hover {
    color: #607d8b !important
}

.mad-text-green, .mad-hover-text-green:hover {
    color: #4CAF50 !important
}

.mad-text-light-green, .mad-hover-text-light-green:hover {
    color: #8bc34a !important
}

.mad-text-indigo, .mad-hover-text-indigo:hover {
    color: #3f51b5 !important
}

.mad-text-khaki, .mad-hover-text-khaki:hover {
    color: #b4aa50 !important
}

.mad-text-lime, .mad-hover-text-lime:hover {
    color: #cddc39 !important
}

.mad-text-orange, .mad-hover-text-orange:hover {
    color: #ff9800 !important
}

.mad-text-deep-orange, .mad-hover-text-deep-orange:hover {
    color: #ff5722 !important
}

.mad-text-pink, .mad-hover-text-pink:hover {
    color: #e91e63 !important
}

.mad-text-purple, .mad-hover-text-purple:hover {
    color: #9c27b0 !important
}

.mad-text-deep-purple, .mad-hover-text-deep-purple:hover {
    color: #673ab7 !important
}

.mad-text-red, .mad-hover-text-red:hover {
    color: #f44336 !important
}

.mad-text-sand, .mad-hover-text-sand:hover {
    color: #fdf5e6 !important
}

.mad-text-teal, .mad-hover-text-teal:hover {
    color: #009688 !important
}

.mad-text-yellow, .mad-hover-text-yellow:hover {
    color: #d2be0e !important
}

.mad-text-white, .mad-hover-text-white:hover {
    color: #fff !important
}

.mad-text-black, .mad-hover-text-black:hover {
    color: #000 !important
}

.mad-text-grey, .mad-hover-text-grey:hover, .mad-text-gray, .mad-hover-text-gray:hover {
    color: #757575 !important
}

.mad-text-light-grey, .mad-hover-text-light-grey:hover, .mad-text-light-gray, .mad-hover-text-light-gray:hover {
    color: #f1f1f1 !important
}

.mad-text-dark-grey, .mad-hover-text-dark-grey:hover, .mad-text-dark-gray, .mad-hover-text-dark-gray:hover {
    color: #3a3a3a !important
}

.mad-border-amber, .mad-hover-border-amber:hover {
    border-color: #ffc107 !important
}

.mad-border-aqua, .mad-hover-border-aqua:hover {
    border-color: #00ffff !important
}

.mad-border-blue, .mad-hover-border-blue:hover {
    border-color: #2196F3 !important
}

.mad-border-light-blue, .mad-hover-border-light-blue:hover {
    border-color: #87CEEB !important
}

.mad-border-brown, .mad-hover-border-brown:hover {
    border-color: #795548 !important
}

.mad-border-cyan, .mad-hover-border-cyan:hover {
    border-color: #00bcd4 !important
}

.mad-border-blue-grey, .mad-hover-border-blue-grey:hover, .mad-border-blue-gray, .mad-hover-border-blue-gray:hover {
    border-color: #607d8b !important
}

.mad-border-green, .mad-hover-border-green:hover {
    border-color: #4CAF50 !important
}

.mad-border-light-green, .mad-hover-border-light-green:hover {
    border-color: #8bc34a !important
}

.mad-border-indigo, .mad-hover-border-indigo:hover {
    border-color: #3f51b5 !important
}

.mad-border-khaki, .mad-hover-border-khaki:hover {
    border-color: #f0e68c !important
}

.mad-border-lime, .mad-hover-border-lime:hover {
    border-color: #cddc39 !important
}

.mad-border-orange, .mad-hover-border-orange:hover {
    border-color: #ff9800 !important
}

.mad-border-deep-orange, .mad-hover-border-deep-orange:hover {
    border-color: #ff5722 !important
}

.mad-border-pink, .mad-hover-border-pink:hover {
    border-color: #e91e63 !important
}

.mad-border-purple, .mad-hover-border-purple:hover {
    border-color: #9c27b0 !important
}

.mad-border-deep-purple, .mad-hover-border-deep-purple:hover {
    border-color: #673ab7 !important
}

.mad-border-red, .mad-hover-border-red:hover {
    border-color: #f44336 !important
}

.mad-border-sand, .mad-hover-border-sand:hover {
    border-color: #fdf5e6 !important
}

.mad-border-teal, .mad-hover-border-teal:hover {
    border-color: #009688 !important
}

.mad-border-yellow, .mad-hover-border-yellow:hover {
    border-color: #ffeb3b !important
}

.mad-border-white, .mad-hover-border-white:hover {
    border-color: #fff !important
}

.mad-border-black, .mad-hover-border-black:hover {
    border-color: #000 !important
}

.mad-border-grey, .mad-hover-border-grey:hover, .mad-border-gray, .mad-hover-border-gray:hover {
    border-color: #9e9e9e !important
}

.mad-border-light-grey, .mad-hover-border-light-grey:hover, .mad-border-light-gray, .mad-hover-border-light-gray:hover {
    border-color: #f1f1f1 !important
}

.mad-border-dark-grey, .mad-hover-border-dark-grey:hover, .mad-border-dark-gray, .mad-hover-border-dark-gray:hover {
    border-color: #616161 !important
}

.mad-border-pale-red, .mad-hover-border-pale-red:hover {
    border-color: #ffe7e7 !important
}

.mad-border-pale-green, .mad-hover-border-pale-green:hover {
    border-color: #e7ffe7 !important
}

.mad-border-pale-yellow, .mad-hover-border-pale-yellow:hover {
    border-color: #ffffcc !important
}

.mad-border-pale-blue, .mad-hover-border-pale-blue:hover {
    border-color: #e7ffff !important
}
